<h1 class="text-center"> User Profile</h1>
<div class="container">
  <div class="row">
    <div class="col-2 ">
      <img src="http://placehold.it/150x200" alt="" class="img-rounded img-responsive"/>
    </div>
    <div class="col-10 ">
      <h3> <%= @user.complete_name %></h3>
      <p>
        <%= fa_icon "compass" %>
        <%= @user.country_name %>

        <%= flag_icon(@user.country.downcase, class: 'strong') %>

      </p>
      <p>
        <%= fa_icon "envelope" %>
        <%= @user.email %>
      </p>
      <p>
        <%= fa_icon "birthday-cake" %>
        <%= @user.birthday_format %>
      </p>

      <%= link_to 'Edit', edit_user_registration_path(@user), class: "btn btn-primary" %>

    </div>
  </div>
</div>


<div class="container mt-2">
  <div class="row">
    <div class="col-8">
      <h4>Calendar</h4>
      <%= month_calendar events: @appointments do |date, appointments| %>
        <%= date %>
        <% appointments.each do |appointment| %>
          <div>
            <%= appointment.type_of %>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="col-4">
      <h4>Appointments</h4>
      <% @appointments.each do |appointment| %>
        <div class="card">
          <div class="card-body">
            <h5 class=card-title"><%= appointment.type_of %></h5>
            <p class="card-text">
            <p>
              <%= fa_icon "map-marker" %>
              <%= appointment.address %>
            </p>
            <p>
              <%= fa_icon "calendar" %>
              <span class="font-weight-bold"> From:</span> <%= appointment.start_time_from_format %>
              <span class="font-weight-bold"> To:</span> <%= appointment.end_time_to_format %>
            </p>

            </p>
            <%= link_to 'Remove', users_remove_appointment_path(:appointment => appointment.id), method: :post%>

          </div>

      <% end %>
      </div>

    </div>

  </div>

</div>
