<div class="container">
  <div class="row">
          <div class="col-sm-6 col-md-4">
            <img src="http://placehold.it/380x500" alt="" class="img-rounded img-responsive" />
          </div>
          <div class="col-sm-6 col-md-8">
            <h3> <%= @user.complete_name %></h3>
            <p>
              <%= fa_icon "compass" %>
              <%= @user.country_name%>

              <%= flag_icon(@user.country.downcase, class: 'strong') %>

            </p>
            <p>
              <%= fa_icon "envelope" %>
              <%= @user.email %>
            </p>
            <p>
              <%= fa_icon "birthday-cake" %>
              <%= @user.birthday_format %>
            </p>
            <!-- Split button -->

            <div class="btn-group">
              <%= link_to 'Edit', edit_user_registration_path(@user), class: "btn btn-primary" %>
            </div>
          </div>
        </div>
</div>
